# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# SQLite データベース
*.db
*.db-journal

# ログファイル
*.log

# バイナリ、ビルドファイル
/bin/
/build/

# 依存関係
/vendor/

# React / Node.js
/frontend/node_modules/
/frontend/build/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# OS固有のファイル
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# エディタ設定
.idea/
.vscode/
*.swp
*.swo
*~ 